@model IEnumerable<Carmodel>

@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <div class="d-flex justify-content-center">
        <button id="c1" class="btn btn-outline-secondary">All Categories</button>
        <button id="c2" class="btn btn-outline-secondary">New Arrival</button>
        <button id="c3" class="btn btn-outline-secondary">Offers</button>
    </div>
</div>

<div id="banner" >
    <div id="bannerContent">
        <h1>GET THE CAR of YOUR <br>FUTURE</h1>
        <p>Find all cars you need In your daily life</p>
        <button id="buynow" class="btn">Buy now <i class="bi bi-basket-fill"></i></button>
        <button id="catalogue" class="btn">Our Catalogue</button>
    </div>
</div>

<div class="car-product text-center">car
    <p>EXPLORE AWESOME PRODUCTS</p>
    <h4>RECOMMENDED FOR YOU</h4>
    @{
        int i = 0;
    }
    <div class="row row-cols-4" style="margin-left: 50px; margin-top:40px;">
    @foreach(var car in Model)
    {
        if(i < 4)
        {
            i++;
            <div class="col mb-5">
                <div class="card" style="width: 18rem; height: 20rem;">
                  <img src="./css/car_img/@car.Image" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">@car.Brand @car.Model</h5>
                    <span class="badge rounded-pill bg-warning text-dark">@car.Price€</span>
                  </div>
                </div>
            </div>
        }
    }
    </div>
    <button class="ep btn">Explore More Products</button>
</div>

<div class="underbanner">
    <div class="underbanner-content row text-center">
        <div class="col">
            <h4>Get the best car with us <br /> We offer a Free try ride</h4>
        </div>
        <div class="col">
            <button class="banner-btn btn">Book a Ride</button>
        </div>
    </div>
</div>

<div class="car-product text-center">
    <p>STRAIGHT FROM THE FACTORY</p>
    <h4>NEW COLLECTION</h4>
    <!-- Afficher le nouvelle collection -->
    <button class="ep btn">Explore Other Products</button>
</div>

<div class="underbanner">
    <div class="underbanner-content row text-center">
        <div class="col">
            <h4>Sales on super cars <br /> Get 10% Off with cash payments</h4>
        </div>
        <div class="col">
            <button class="banner-btn btn">Start Shopping</button>
        </div>
    </div>
</div>

<div class="car-product text-center">
    <p>TOP PRODUCTS</p>
    <h4>TRENDING THIS WEEK</h4>
   <div class="row row-cols-4" style="margin-left: 50px; margin-top:40px;"> 
    @foreach(var car in Model)
    {
        <div class="col mb-5">
            <div class="card" style="width: 18rem; height: 20rem;">
              <img src="./css/car_img/@car.Image" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">@car.Brand @car.Model</h5>
                <span class="badge rounded-pill bg-warning text-dark">@car.Price€</span>
              </div>
            </div>
        </div>
    }
    </div>
</div>

<div class="underbanner">
    <div class="underbanner-content row text-center">
        <div class="col">
            <h4>Contact us for more info <br /> Available 24/7</h4>
        </div>
        <div class="col">
            <button class="banner-btn btn">Contact Us</button>
        </div>
    </div>
</div>